@use "variables" as *;

.feedback {
  min-height: 470px;
  background: radial-gradient(50% 50% at 50% 50%, #034A77 0%, #012547 100%);
  padding-top: 70px;
  border-radius: 50px;

  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__info {
    max-width: 424px;
    margin-right: auto;
    margin-top: -8px;
    padding-right: 40px;
    grid-row: 3 span;
    grid-column: 1 / 2;
    margin-bottom: 80px;
  }

  &__title {
    color: rgba(255, 245, 240, 1);
    font-size: 48px;
    font-weight: 300;
    line-height: 59px;
    max-width: 312px;
    margin-bottom: 30px;
  }

  &__descr {
    color: rgba(255, 245, 240, 1);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }

  &__right {
    max-width: 407px;
    margin-right: 70px;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
  }

  &__social-link {
    display: inline-block;
  }

  &__social-link:not(:first-child) {
    margin-left: 17px;
  }

  @media screen and (max-width: $tablet-width) {

    & {
      min-height: 430px;
      padding-top: 66px;
    }

    &__container {
      padding-left: 56px;
    }

    &__title {
      font-size: 36px;
      line-height: 45px;
      max-width: 270px;
      margin-bottom: 15px;
    }

    &__descr {
      font-size: 14px;
    }
  }

  @media  screen and (max-width: $tablet-width-portret) {
    &__info {
      max-width: 312px;
    }
  
    &__right {
      margin-right: 10px;
    }
  }

  @media  screen and (max-width: $mobile-width) {

    & {
      border-radius: 30px;
      padding-top: 20px;
      padding-bottom: 25px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      padding-left: 60px;
    }

    &__title {
      font-size: 26px;
      line-height: 36px;
      text-align: center;
      max-width: 100%;
      margin-bottom: 10px;
    }

    &__info {
      max-width: none;
      margin-top: 0px;
      margin-bottom: 25px;
      padding-right: 0;
    }

    &__right {
      max-width: 100%;
      margin-right: 0;
    }

    &__social {
      order: 1;
      text-align: center;
    }

    &__social-link {
      max-width: 25px;
    }
  }

  @media  screen and (max-width: $mobile-very-small) {
    &__container {
      padding-left: 20px;
    }
  }
}

