@use "variables" as *;

.slick-reviews {
  margin: 0 -16px;
}
.slick-reviews__item {
  overflow: hidden;
  padding: 0 16px;
}

.slick-reviews .slick-list {
  height: 260px;
}

.slick-reviews .slick-prev,
.slick-reviews .slick-next,
.slick-reviews .slick-prev:hover, 
.slick-reviews .slick-prev:focus, 
.slick-reviews .slick-next:hover, 
.slick-reviews .slick-next:focus {
  background-image: url("../img/slide-dark-arrow.svg");
  width: 16px;
  height: 29px;
  top: 116px
}

.slick-reviews .slick-prev {
  transform: rotate(180deg);
}

.slick-reviews .slick-next::after,
.slick-reviews .slick-next::before,
.slick-reviews .slick-prev::after,
.slick-reviews .slick-prev::before {
  content: '';
}

.slick-reviews.slider-no-init {
  display: flex;
  opacity: 0;
}

.slick-reviews.slider-no-init .slick-reviews__item {
  max-height: 260px;
}

.slick-reviews.slider-no-init.slick-initialized {
  display: block;
  opacity: 1;
}

@media  screen and (max-width: $tablet-width) {
  .slick-reviews {
    margin: 0 -10px;
  }
  
  .slick-reviews__item {
    padding: 0 10px;
  }
}