<div class="contacts">
  <div class="container contacts__container">
     <h2 class="contacts__head">Контакты</h2>
     <div class="contacts__info">
       <div class="contacts__info-title">Всегда на связи</div>
       <div class="contacts__item contacts__item--phone"><a href="tel:88005504996">8 800 550 49 96</a> - бесплатный звонок по России</div>
       <div class="contacts__item contacts__item--email">bh@kccc.ru</div>
       <div class="contacts__item contacts__item--address">613048, Россия, Кировская область, <br>
         г. Кирово-Чепецк, ул. Производственная <!--д.6--></div>
     </div>
   </div>
   <div id="yandex-map" class="contacts__map"></div>
 </div>