@use "variables" as *;

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Book.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Stolzl', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2em;
  min-height: 100%;
  color: #000000;
  font-style: normal;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto !important;
}

figure {
  margin: 0;
}

.container {
  border-top: 1px solid transparent;
  max-width: 1284px;
  padding: 0 42px;
  margin: 0 auto;
  overflow: hidden;
}

h2, .h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 62px;
  margin-bottom: 44px;
}

@media (max-width: $tablet-width) {
  .container {
    width: 100%;
  }

  h2, .h2 {
    font-size: 24px;
    line-height: 62px;
    margin-top: 28px;
    margin-bottom: 8px;
  }  
}

@media (max-width: $mobile-width) {
  .container {
    width: 100%;
    min-width: 320px;
    padding: 0 60px;
  }

  h2, .h2 {
    font-size: 22px;
  }
}

input[type='text'],
textarea {
  border: none;
  height: 44px;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
}

input[type='text']:focus,
input[type='text']:active,
textarea:focus,
textarea:active {
  border: none;
  outline: none;
}

.field-error {
  color: #f26060;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
}