$desktop-width: 1200px;
$tablet-width: 1024px;
$tablet-min-width: 1025px;
$tablet-width-portret: 768px;
$mobile-width: 767px;
$mobile-small-width: 568px;
$mobile-very-small: 479px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
